{% extends 'base.html.twig' %}

{% block body %}
    <h1>Universitate creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('universitate_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ asset('bundles/uabflorin/web/js/florin.js') }}"></script>
{% endblock %}
