{% extends 'base.html.twig' %}

{% block body %}
    <h1>Universitate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ universitate.id }}</td>
            </tr>
            <tr>
                <th>Nume</th>
                <td>{{ universitate.nume }}</td>
            </tr>
            <tr>
                <th>Localitate</th>
                <td>{{ universitate.localitate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('universitate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('universitate_edit', { 'id': universitate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ asset('bundles/uabflorin/web/js/florin.js') }}"></script>
{% endblock %}
